[submodule "models"]
	path = models
	url = https://github.com/NetLogo/models.git
[submodule "Mathematica-Link"]
	path = Mathematica-Link
	url = https://github.com/NetLogo/Mathematica-Link.git
[submodule "behaviorsearch"]
	path = behaviorsearch
	url = https://github.com/NetLogo/behaviorsearch.git
